body {
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    max-height: 100px;
    top: 0;
}

nav {
    display: flex;
    justify-content: start;
}

nav > * {
    flex-basis: 50%;
}

.main-menu {
    display: flex;
    list-style: none;
    position: absolute;
    left: -100%;
    top: 0;
    background: white;
    width: 90%;
    transition: 300ms;
    border: black 1px solid;
}

.open-menu i {
    margin: 25px 0 0 20px;
}

.show-menu {
    left: 0;
}

li {
    list-style: none;
}

nav ul li a,
header i {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.logo-div img {
    max-width: 100px;
}

ul li {
    padding: 10px;
}

ul li ul li {
    display: none;
}

main {
    margin-top: 100px;
}

main h1 {
    text-align: center;
}